<script props>
  module.exports = {};
</script>

<div class="mt-6 text-center text-black-olive text-xs">
  <!-- Social Media Links -->
  <p>Follow us:</p>
  <table class="w-full">
    <tr>
      <td align="center">
        <table class="mx-auto mt-1">
          <tr class="text-center">
            <td class="px-2">
              <a href="#" class="hover:text-primary">
                <img src="{{page.company.url}}/img/dm/facebook.png" alt="Facebook" width="22">
              </a>
            </td>
            <td class="px-2">
              <a href="#" class="hover:text-primary">
                <img src="{{page.company.url}}/img/dm/instagram.png" alt="Instagram" width="22">
              </a>
            </td>
            <td class="px-2">
              <a href="#" class="hover:text-primary">
                <img src="{{page.company.url}}/img/dm/linkedin.png" alt="LinkedIn" width="22">
              </a>
            </td>
            <td class="px-2">
              <a href="#" class="hover:text-primary">
                <img src="{{page.company.url}}/img/dm/youtube.png" alt="YouTube" width="22">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<!-- Footer Note -->
<p class="my-4 text-xs text-center text-black-olive">
  © FarmLiaison 2025
</p>

<div class="mt-4 text-xs text-center">
  <a href="https://farmliaison.com/help" class="text-primary underline hover:no-underline">{{ page.t('help_center') }}</a>
  &nbsp;|&nbsp;
  <a href="https://farmliaison.com/unsubscribe" class="text-primary underline hover:no-underline">{{ page.t('unsubscribe') }}</a>
</div>
